body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Bauhaus";
  src: url(../public/Assets/bauhaus-fonts/BauhausRegular.ttf) format("truetype");
  font-weight: 500;
}
 
.font-bauhaus {
  font-family: "Bauhaus", sans-serif !important;
}
 
.text-green {
  color: #209326 !important;
}
