.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; // Adjust background color as needed
    border-radius: 16px;
    overflow: hidden;
    width: 373.33px;
    height: 280px;
    border-radius: 16px;
    margin: 30px;
  
    &__image {
    position: absolute;
      flex: 1;
      background-size: cover;
      background-position: center;
      width: 373.33px;
        height: 280px;
    }
  
    &__content {
        z-index: 1;
        margin: 160px 16px 20px 16px;
        text-align: center;
        width: 341.33px;
        height: 108px;
        border-radius: 12px;
        background: linear-gradient(177.88deg, rgba(121, 157, 165, 0.69) -68.53%, rgba(33, 25, 17, 0.69) 98.21%);
        box-shadow: 0px -12px 24px 0px #4C5D9E14;
    }
  
    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }
  
    &__fare {
      font-size: 18px;
      color: white;
    }
  
    &__arrow {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    //   background-image: url('path/to/arrow.png'); // Replace with your arrow image path
      background-size: contain;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }